.body-container {
	background-color: rgb(254, 255, 247);
	min-height: 1080px;
	padding-top: 20px;
	padding-bottom: 50px;
}

.hline{
	border-top: 1px solid #1d1d1d;
	border-bottom: 1px solid #616060;
	max-height:0;
}

.left {
	text-align: left;
}

.float-right{
	float: right;
}

@media (max-width: 991px) {
	.mobile-hide {
		display:none !important;
	}
	
	.mobile-hide div {
		display:none !important;
	}
	
	.mobile-nopadding {
		padding: 0;
	}
}


#article-preview {
	min-height: 200px;
	position: fixed;
	background-color: rgba(254, 255, 247, 0.9);
	height: 100%;
	display: none;
	top: 0;
	box-shadow: 0 0 50px #c2c2c2;
	padding: 15px 10px;
	overflow: hidden;
	z-index: 1000;
}

#article-preview > img {
	max-width: 200px;
	width: 100%;
}


@-webkit-keyframes article_ind_hover {
	100% {
		box-shadow: 0 0 50px #c2c2c2;
	}
}
@keyframes article_ind_hover {
	100% {
		box-shadow: 0 0 50px #c2c2c2;
	}
}

.article-list {
	border: 1px solid #dedede;
	border-bottom: transparent;
}
.article-index {
	min-height: 8em;
	padding: 0.5px;
	border-bottom: 1px solid #dedede;
	-ms-flex-direction: column;
	-webkit-flex-direction: column;
	flex-direction: column;
}
.article-thumb {
	width: 7em;
	height: 7em;
	float: left;
	display: inline;
	overflow: hidden;
	margin: 0.5em 0.3em;
}

.article-thumb > img{
	height: 100%;
}

.article-bref {
	height: auto;
	padding: 0.5em 0.5em;
}

.article-bref > .article-title{
	margin: 0em;
	font-weight: 600;
	font-size: 1.1em;
}

.article-bref > .article-info {
	font-weight: 100;
	font-size: 0.9em;
	margin: 0 0 5px 0;
}
.article-bref > .article-tag {
	width: 100;
	text-align: right;
	font-size: 1em;
	margin-top: 5px;
}

.article-bref > h1 > a{
	color: #BA0707;
}
.inline-preview {
	display: none;
}
.break-word {
	word-wrap: break-word;
}

@media (min-width: 992px) {
	.article-index {
		min-height: 9em;
		padding: 0.7em;
	}
	.article-thumb {
		width: 12.5em;
		height: 7.6em;
		margin: 0 0.7em 0 0;
	}

	.article-thumb > img{
		width: 100%;
		height: auto;
	}

	.article-bref {
		height: auto;
		padding: 0 0.7em;
	}

	.article-bref > .article-title{
		margin: 0em;
		font-size: 1em;
	}

	.article-bref > .article-info {
		font-weight: 100;
		font-size: 0.8em;
		margin: 0 0 7px 0;
	}
	.article-bref > .article-tag {
		text-align: left;
		font-size: 0.8em;
		margin-top: 5px;
	}
	.inline-preview {
		display: inline;
		font-size: 0.95em;
	}
}

.pagination-panel {
	text-align: center;
}

@media(max-width: 991px){
	.article-content article {
		margin: 15px 0;
	}
}

article {
	text-align: justify;
}