html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Hiragino Sans GB W3', 'Hiragino Sans GB', 'Microsoft YaHei', sans-serif;
	font-weight: 300;
	/*background-image: url('unsplash-img-1.jpg');*/
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment:fixed;
	background-position: center;
	background-color: rgb(254, 255, 247);
	box-sizing: border-box;
	/*overflow: hidden;*/
	
}
a {
	text-decoration: none;
}
.hidden {
	display: none;
	visibility: none;
}
.app-bar {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	width: 100%;
	height: 60px;
	-ms-flex-direction: row;
	-webkit-flex-direction: row;
	flex-direction: row;
	position: fixed;
	top: 0;
	left: 0;
	z-index:2;
	background-color: rgba(240,240,240,0.6);
	border: 0px transparent;
}
.app-bar.open {
	-webkit-transform: translate(20em,0);
	transform: translate(20em,0);
}
.app-bar .logo {
	-ms-flex: 1;
	-webkit-flex: 1;
	flex: 1;

	font-size: 20px;
	line-height: 60px;

	margin: 0 16px;

	color: rgb(150,150,150);
	float: none;
	max-width: none;
}
.app-bar .logo a {
	text-decoration: none;
	color: inherit;
	font-weight: normal;
}
.app-bar-actions  {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-ms-flex-direction: row;
	-webkit-flex-direction: row;
	flex-direction: row;
}
.app-bar button, .bottom-bar button {
	width: 44px;
	height: 44px;

	background-image: none;
	background-color: transparent;

	border-style: solid;
	border-radius: 100%;
	border-color: rgb(200, 200, 200);
	padding: 4px 8px 8px 8px;
	margin: 8px;
	-webkit-transition: border 300ms ease-in,background 300ms ease-in;
	transition: border 300ms ease-in,background 300ms ease-in;
	-webkit-tap-highlight-color: transparent;
	cursor: pointer;
	
	color: rgba(150, 150, 150, 0.8);
	font-size: 24.3px;
	font-weight: 100;
}
.app-bar button img {
	width: 28px;
	height: 28px;
}
.app-bar button.menu {
	position: relative;
}
.app-bar button.menu img {
	position: absolute;
	top: 7px;
	left: 7px;
}
.app-bar button.menu .menu-icon {
	opacity: 1.0;
	display:inline;
}
.app-bar button.menu .close-icon {
	opacity: 0.0;
	display: none;
}
.app-bar.open button.menu .menu-icon {
	opacity: 0.0;
	display: none;
}
.app-bar.open button.menu .close-icon {
	opacity: 1.0;
	display:inline;
}
.app-bar button:hover, .bottom-bar button:hover, .app-bar button:focus, .bottom-bar button:focus {
	border-color: transparent;
	outline: 0;
	background-color: rgba(100, 100, 100, 0.4);
	color: white;
}
.app-bar button:active, .bottom-bar button:active {
	border-color: transparent;
	background-color: rgba(100, 100, 100, 0.6);
}
.search {
	display: none;

	width: 400px;
	height: 40px;

	padding: 11px;
	margin: 8px 0;

	box-sizing: border-box;

	border: none;
}
.bottom-bar {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	width: 100%;
	height: 60px;
	-ms-flex-direction: row;
	-webkit-flex-direction: row;
	flex-direction: row;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	position: fixed;
	bottom: 0;
	right: 0;
	background-color: rgba(240,240,240,0.6);
}
.navdrawer-bg, .navdrawer-bg.open{
		opacity: 0;
		pointer-events: none;
	}

@media all and (min-width: 992px) {

	body {

		background-image: url("../images/brand-home.jpg")
	}

	.app-bar {
		display: block;

		position: relative;
		height: 100px;

		padding: 16px 16px 6px  16px;
		margin-bottom: 16px;

		box-sizing: border-box;

		background-color: transparent;
		-webkit-transform: translate(0,0);
		transform: translate(0,0);
		-webkit-transition: none;
		transition: none;
	}
	.app-bar.open {
		-webkit-transform: translate(0,0);
		transform: translate(0,0);
	}

	.app-bar .logo {
		float: left;

		margin: 0;

		font-size: 80px;  
		line-height: 100px;
		color: rgb(254,254,254);
	}

	.app-bar-actions {
		float: right;

		margin: 20px 0;
	}

	.app-bar:after {
		content: ' ';

		display:block;
		height: 0;
		overflow: hidden;

		clear: both;
	}
	
	.app-bar button, .bottom-bar button {
		border-color: rgba(254,254,254, 0.95);
		color: rgba(254,254,254, 0.95);
	}
	
	.app-bar button:hover, .bottom-bar button:hover, .app-bar button:focus, .bottom-bar button:focus {
		background-color: rgba(254, 254, 254, 0.8);
		color: rgba(100,100,100, 0.95);
	}
	.app-bar button:active, .bottom-bar button:active {
		background-color: rgba(254, 254, 254, 0.95);
	}

	.search {
		display: block;

		padding-left: 16px;
	}

	button.menu {
		display: none;
	}

	.bottom-bar {
		display: -ms-inline-flexbox;
		display: -webkit-inline-flex;
		display: inline-flex;

		width: auto;
		height: auto;
		-ms-flex-direction: row;
		-webkit-flex-direction: row;
		flex-direction: row;
		
		margin: 16px auto 0 auto;
		right: auto;
		left: auto;
		background-color: rgba(0,0,0,0.6);
	}
	#home-nav {
		
	}
}

.app-bar, .navdrawer-container {
	-webkit-transition: -webkit-transform 0.3s ease-out;
	transition: transform 0.3s ease-out;
}
.navdrawer-bg {
	-webkit-transition: opacity 0.3s ease-out;
	transition: opacity 0.3s ease-out;
}

.main-content {
	margin-top: 60px;
}


.promote-layer {
	/*
	This may promote the layer to a composited
	layer.
	Replace with will-change when available
	#perfmatters
	*/
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

/* BEGIN for nav bar */

@media(max-width: 991px){
	.navdrawer-bg {
		position: fixed;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		background-color: black;
		/** Unfortunately this is the best way
		to get no paints in Chrome **/
		opacity: 0.0000001;
		z-index: 1;
		pointer-events: none;
	}
	.navdrawer-bg.open {
		opacity: 0.5;
		pointer-events: auto;
	}
	.navdrawer-container {
		position: fixed;

		bottom:0;
		width: 20em;
		height: 100%;
		margin:0;
		left:0;
		background-color: rgb(24,69,59);

		color: #fefefe;
		-webkit-transform: translate(-20em,0);
		transform: translate(-20em,0);
		z-index: 2;
		overflow: hidden;
	}
	
	.navdrawer-container ul {
		list-style-type: none;
		padding-left:0;
		margin: 15px 0 !important;
		width: 17em;
		float: right !important;
		
	}
	
	nav ul li {
		width: 17em !important;
		float: left !important;
	}
	.navdrawer-container.open {
		-webkit-transform: translate(0,0);
		transform: translate(0,0);
	}
	.navbar-right {
		float: left !important;
		width: 17em !important;
	}
	
	.navdrawer-container ul li a:hover {
		background-color: rgba(255, 255, 255, 0.2) !important;
		color: rgb(254,254,254);
	}
	.navdrawer-container ul li a:focus {
		background-color: rgba(255, 255, 255, 0.3) !important;
		outline: 0;
	}
	.navdrawer-container ul .active a, .navdrawer-container ul li a:active {
		background-color: rgba(255, 255, 255, 0.4) !important;
	}
	
	.navdrawer-container ul li a{
		-webkit-transition: background-color 0.3s ease-out;
		transition: background-color 0.3s ease-out;
	}
}

@media (max-width: 345px){
	.app-bar.open {
		-webkit-transform: translate(10em,0);
		transform: translate(10em,0);
	}
	.navdrawer-container {
		width: 10em;
		-webkit-transform: translate(-10em,0);
		transform: translate(-10em,0);
	}
	.navdrawer-container ul {
		width: 9em;	
	}
	
	nav ul li {
		width: 9em !important;
	}
	.navbar-right {
		width: 9em !important;
	}
}




/* END for nav bar */



.label {
	padding: 0.1em 3px;
	border-radius: 0.2em;
	font-size: 0.8em;
	cursor: pointer;
	vertical-align: middle;
}

.label-default {
	border: 1px solid;
	border-color: rgb(200,200,200);
	color: rgb(150,150,150);
	background-color: rgba(150,150,150, 0.1);
}

.label-default:hover, .label-default:focus {
	border-color: transparent;
	background-color: rgba(150,150,150, 0.6);
	color: white;
}

.label-default:active, .label-default a:active {
	background-color: rgba(150,150,150, 0.2);
}

.label-default {
	-webkit-transition: border 300ms ease-in,background 300ms ease-out;
	transition: border 300ms ease-in,background 300ms ease-out;
	-webkit-tap-highlight-color: transparent;
}



footer {
	font-size: 0.8em;
	width: 100%;
	text-align: center;
	color: #2f2f2f;
}

@media all and (min-width: 992px){
	footer {
		color: #f2f2f2;
	}
}

.body-container {
	width:auto;
}

@media all and (max-width: 991px){
	.body-container {
		margin: 60px 15px 0 15px;
		padding-top: 0;
	}
}
