@(localUser: models.User, article: models.Article=null)

@main("Article viewer") {

<div class="main-container">
	<div class="article-content break-word">
		<article>
			<h1>
				@article.title
			</h1><br />
			<small>@article.editors.get(0) @@ @article.created</small><br>
			<small>
				@for(tg <- article.tags){
					<a href="@routes.Profiles.tagsInfo(tg.name,1)" class="btn btn-default"><span>@tg.alias</span></a>
					}
			</small><br>
			<hr >
			<p>
				@Html(article.content)
			</p>
		</article>
		<aside>
			<div class="comment-header">
				Total Comments: 10
			</div>
			
			@if(article.comments.size() == 0){
				<div class="comment" style="text-align:center;padding-top:2em">
						No comments, come, give some words!
				</div>
			}
			@for(comm <- article.comments){
				<div class="comment">
					<div class="comment-author">
						<Strong>@comm.name</strong>
						<br />
						<small>(<span class="comment-rank">1</span>L)</small> @comm.created
					</div>
					<div class="comment-content">
						@comm.content
					</div>
					<div class="comment-ooxx">OO(@comm.oo)/XX(@comm.xx)</div>
				</div>
				<hr />
			}

			<div class="comment-new">
				@helper.form(routes.Articles.postComments(article.id), 'class -> "form-horizontal", 'role -> "form") {
	
	
					<input type="email" name="email" class='@("hidden".when(localUser != null && localUser.email!=null))' 
						value=@if(localUser != null){"@localUser.email"}else{""} required 
						placeholder="Your Email..." />
					<input type="text" name="name" value=@if(localUser != null){"@localUser.name"}else{""} 
							required placeholder="Your Lovely Nickname..." />
					<br /> Say Something...<br />
					<textarea type="text" name="content" required rows="5"></textarea><br />
					<button type="submit" class="btn btn-default">Submit</button>
			    }
			</div>
			
		</aside>
	</div>
</div>
	
	
<div class="side-bar">
		@if(localUser.hasPermission(Application.USER_PERMISSION_EDITOR)){
		<p class="editor-panel">
			Article Information: 
			<address>
				<small>
					Permission: @article.permissons<br />
				
					Edited By: @for(ed <- article.editors){@ed.name, }<br />
				
					Tags: 
					@for(tg <- article.tags){
					<label class="label label-default label-primary">@tg.alias</label>
					}
					<br />
				</small>
			</address>
			<strong>(<a href="@routes.Articles.editArticle(article.id)">Edit This Article</a>)</strong>
		</p>
		}
		@_ads()
		
	</div>



}


<!-- <div class="row clearfix">
	<div class="col-md-offset-2 col-md-8">
		
	
	<div class="col-md-offset-2 col-md-8">
	@helper.form(routes.Articles.postComments(article.id), 'class -> "form-horizontal", 'role -> "form") {
		
		<input type="email" name="email" class='@("hidden".when(localUser != null))' 
			value=@if(localUser != null){"@localUser.email"}else{""} disabled required />
		<input type="text" name="name" value=@if(localUser != null){"@localUser.name"}else{""} disabled required />
		<input type="text" name="content" required />
		<button type="submit" class="btn btn-default">Submit</button>
    }
    </div>
	</div>
</div> -->