<div id="aside">
	Advertisement: <br>

	<div class="col-xs-6">
		<div class="ads-unit">
			<img src="http://s.jandan.com/static/gggg/kiees2.jpg" class="ads-unit-img" width="100%">
			<div class="ads-unit-bg">Girls</div>
		</div>
	</div>
	
	<div class="col-xs-6">
		<div class="ads-unit">
			<img src="http://img01.taobaocdn.com/bao/uploaded/TB1AhdqHXXXXXXcaXXXRg_79VXX_050702.jpg_160x160.jpg" class="ads-unit-img" width="100%">
			<div class="ads-unit-bg">Camera</div>
		</div>
	</div>
	
	<div class="col-xs-6">
		<div class="ads-unit">
			<img src="http://img01.taobaocdn.com/bao/uploaded/TB1xxakHpXXXXbPXpXXJ6Nc.VXX_081125.jpg_160x160.jpg" class="ads-unit-img" width="100%">
			<div class="ads-unit-bg">Laptop</div>
		</div>
	</div>
	
	<div class="col-xs-6">
		<div class="ads-unit">
			<img src="http://img01.taobaocdn.com/bao/uploaded/i2/TB1HzBRHpXXXXaQXpXXSutbFXXX.jpg_180x180xz.jpg" class="ads-unit-img" width="100%">
			<div class="ads-unit-bg">Mobile</div>
		</div>
	</div>
	
	<div class="col-xs-6">
		<div class="ads-unit">
			<img src="http://s.jandan.com/static/gggg/yetang+18.png" class="ads-unit-img" width="100%">
			<div class="ads-unit-bg">Animation</div>
		</div>
	</div>
	
	<div class="col-xs-6">
		<div class="ads-unit">
			<img src="http://s.jandan.com/static/gggg/mygeek.png" class="ads-unit-img" width="100%">
			<div class="ads-unit-bg">Movie</div>
		</div>
	</div>
	
	<div class="col-xs-6">
		<div class="ads-unit">
			<img src="http://ww3.sinaimg.cn/mw600/ddf0f092jw1eq500naol7j20bu08uab6.jpg" class="ads-unit-img" width="100%">
			<div class="ads-unit-bg">Animal</div>
		</div>
	</div>
	
	<div class="col-xs-6">
		<div class="ads-unit">
			<img src="" class="ads-unit-img" width="100%">
			<div class="ads-unit-bg">WTF</div>
		</div>
	</div>
</div>