@(localUser: models.User = User.temporaryUser(null,null))
@if(localUser.hasPermission(Application.USER_PERMISSION_EDITOR)){
<div style="margin-bottom:100px;">
	<h3><small>What you might like to do:</small></h3><br />
	<ul>
		@if(localUser.hasPermission(Application.USER_PERMISSION_SECTION_MANAGER)){
		<li>
			<a href="@routes.Manage.index"><span>版块编辑</span></a>
		</li>
		}
		<li>
			<a href="@routes.Manage.editorPage(1)"><span>文章管理</span></a>
		</li>
		<li>
			<a href="@routes.Articles.newArticle"><span>新建文章</span></a>
		</li>
	</ul>
</div>
}

<div style="padding: 0.5em;font-size:0.9em">
<img alt="QR code" src='@routes.Assets.at("images/qrcode.jpg")' style="width: 5em;float: right"/>
<ul style="list-style-type:none;padding:0">
	<li>XXX传媒 （关于我们）</li>
	<li>投稿： XXX@@XXX.com</li>
	<li>联系我们： 
		<ul style="list-style-type:none;padding:0 0 0 1em">
			<li>Email: XXXX@@XXXXX.com</li>
			<li>QQ: 123456789</li>
			<li>或者扫描右侧的二维码哟~</li>
		</ul>
	</li>
</ul>
<hr>
</div>