@(title: String, nav: String = "")(content: Html)

@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._

<!DOCTYPE html>
<html lang="@lang().code()">
<head>
    <title>@title</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Qi Fen Bao">
    <meta name="author" content="Dipterix">

	<!-- Bootstrap -->
	<link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
		
	<!-- Design use -->
	<link href='@routes.Assets.at("css/general.css")' rel="stylesheet">
	<link href='@routes.Assets.at("css/header-footer.css")' rel="stylesheet">
	<link href='@routes.Assets.at("css/article.css")' rel="stylesheet">
	<link href='@routes.Assets.at("css/icons.css")' rel="stylesheet">
	<link href='@routes.Assets.at("icons/css/font-awesome.min.css")' rel="stylesheet">
	<link href='@routes.Assets.at("css/layout.css")' rel="stylesheet">
   <script type="text/javascript" src="@routes.Application.jsRoutes" defer="defer"></script>

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="http://libs.baidu.com/jquery/1.10.2/jquery.min.js"></script>
	
	@if(title.equals(Messages("article.edit.title"))){
		<link rel="stylesheet" href='@routes.Assets.at("css/htmleditor/default.css")'>
		<script charset="utf-8" src='@routes.Assets.at("js/htmleditor/kindeditor-min.js")'></script>
		<script charset="utf-8" src='@routes.Assets.at("js/htmleditor/zh_CN.js")'></script>
	}
			
        
</head>

<body>
	<header class="app-bar promote-layer">
		<button class="menu">
			<div class="menu-icon"><i class="fa fa-ellipsis-h"></i></div>
			<div class="close-icon"><i class="fa fa-times"></i></div>
		</button>
		<h1 class="logo"><a href="#">Logo</a></h1>
		<section class="app-bar-actions">
			<input class="search" placeholder="Search">
			<button><i class="fa fa-search"></i></button>
		</section>
	</header>
  <nav class="navbar navbar-default navbar-inverse navbar-custom navdrawer-container" id="home-nav">
    <div class="container">
      <div class="navbar-header mobile-hide">
         <div class="navbar-logo">Logo</div>
      </div>
      	<ul class="nav navbar-nav">
					<li class="@("active".when(nav == ""))">
						<a href="@routes.Application.index()">@Messages("navigation.home")</a>
					</li>
            <li class="@("active".when(nav == "restricted"))">
              <a href="@routes.Application.restricted()">@Messages("navigation.self")</a>
            </li>

				@subjectPresentOr() {
					@defining(Application.getLocalUser(session())) { user =>
						@if(user.hasPermission(Application.USER_PERMISSION_EDITOR)){
						<li class="@("active".when(nav == "editor"))">
		          <a href="@routes.Manage.editorPage(1)">@Messages("navigation.editor")</a>
						</li>
						}
						@if(user.hasPermission(Application.USER_PERMISSION_ADMIN)){
						<li class="@("active".when(nav == "admin"))">
		          <a href="@routes.Manage.admin">@Messages("navigation.admin")</a>
						</li>
						}
					}
				}{
            <li class="@("active".when(nav == "signup"))">
              <a href="@routes.Application.signup()">@Messages("navigation.signup")</a>
            </li>
				}
				</ul>

				<ul class="nav navbar-nav navbar-right">
            @subjectPresentOr() {
            	@defining(Application.getLocalUser(session())) { user =>
                	
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<i class="glyphicon glyphicon-user"></i> @user.name <span class="caret"></span>
						</a>
					</li>
          <li><a href="@com.feth.play.module.pa.controllers.routes.Authenticate.logout()"><i class="icon-off"></i>
            @Messages("navigation.logout")</a>
          </li>
                    </ul>
                }
                        
             } {
          <li>
           	<a href="@routes.Application.login()" class=" navbar-right @("disabled".when(nav == "login"))">
              	@Messages("navigation.login")
						</a>
					</li>
             }
				</ul>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>

	<div class="navdrawer-bg"></div>
	<!-- Content -->
	<div class="body-container">
	<div class="container">
    	@if(flash.contains(Application.FLASH_ERROR_KEY)) {
        	<div class="alert alert-danger" role="alert">
            	<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">
                        Close</span></button>
                @flash().get(Application.FLASH_ERROR_KEY)
			</div>
		}
        @if(flash.contains(Application.FLASH_MESSAGE_KEY)) {
			<div class="alert alert-success" role="alert">
            	<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">
                        Close</span></button>
                @flash().get(Application.FLASH_MESSAGE_KEY)
			</div>
		}
        
      @content 

		
	</div> <!-- /container -->
 </div>
    <div class="footer">
		<div class="container mobile-hide">
			<div class="row clearfix">
				<div class="col-md-offset-2 col-md-8 column">
					<div class="row clearfix">
						<div class="col-xs-3 column">
							<img alt="DreamBig QR Code" style="max-width:125px;width:100%" src='@routes.Assets.at("images/qrcode.jpg")' />
						</div>
						<div class="col-md-offset-1 col-xs-8 column left">
							 <address> 
								<strong>七分饱</strong><br>
								台北路建设大道<br> 
								广告投放 . 联系我们<br> 
								<abbr>电话:</abbr> (123) 456-7890<br>
								QQ: 12345678<br>
							 </address>
						</div>
					</div>
				</div>
			</div>
		</div>
		<hr>
		<div class="container">
			COPYRIGHT© 1998-2013. ALL RIGHTS RESERVED.
		</div>
  	</div>
  	
  	
  	
    <!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
	
	<!-- dev use -->
	<script src='@routes.Assets.at("js/general.js")'></script>
	<script src='@routes.Assets.at("js/article.js")'></script>
	
</body>
</html>
