@(signupForm: Form[_])

@import helper._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapBasic.f) }

@main(Messages("playauthenticate.signup.title"),"signup") {


<style>
	.body-container {
		min-height: initial;
	}
	.signup-panel {
		width: 95%;
		position: relative;
		margin: 5px auto;
		background-color: #FFF;
	}
	
	@@media(min-width:992px){
		.body-container {
			background: transparent;
			min-height: initial;
		}
		.signup-panel {
			width: 500px;
			position: relative;
			margin: 16px auto;
			background-color: #FFF;
		}
		.signup-content {
			padding: 15px 30px;
		}
	}
</style>
	<div class="signup-panel">
		<div class="container">
			
			<div id="signup" class="row signup-content">
			<h1>注册</h1>
	    
	      @* Display proprietary login form *@
    	@helper.form(routes.Application.doSignup, 'class -> "form-horizontal", 'role -> "form") {

            @if(signupForm.hasGlobalErrors) {
		        <p class="alert alert-danger">
		          @signupForm.globalError.message
		     	</p>
            }

             @inputText(
                signupForm("name"),
                '_label -> Messages("playauthenticate.signup.name")
             )

             @_emailPartial(signupForm)

             @_passwordPartial(signupForm)

            <button type="submit" class="btn btn-default">@Messages("playauthenticate.signup.now")</button>
    		}
	    
	
	
	  </div>
		</div>
	</div>


}
